// sass --watch style/input.scss:style/style.css

// VARIABLE
$font: 1.6rem Helvetica, Arial;
$main-background-color: rgb(29, 53, 58);
$clock-color: rgb(105, 85, 5);
$hand-color: rgb(250, 225, 105);
$width-clock: 20rem;
$height-clock: 20rem;

//RESET
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// EXTEND
%row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

%column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%; // 16px * 62.5% = 10px = 1rem
}

body {
  @extend %column;
  height: 100vh;
  font: $font;
  background-color: $main-background-color;
}

.clock {
  position: relative;
  width: $width-clock;
  height: $height-clock;
  overflow: hidden;
  border: 1px solid red;
  border-radius: 50%;
}

.stroke {
  position: absolute;
  left: calc(50% - 0.05rem);
  top: 50%;
  height: $height-clock/8;
  width: .1rem;
  background-color: $clock-color; 
  transform-origin: 50% 0;
  transform: translateY($width-clock/2.5);
}

.stroke-15 {
  transform: rotate(90deg) translateY($width-clock/2.5);
}

.stroke-30 {
  transform: rotate(180deg) translateY($width-clock/2.5);
}

.stroke-45 {
  transform: rotate(270deg) translateY($width-clock/2.5);
}


/*
.hand {
  width: 50%;
  height: 4px;
  background: $hand-color;
  position: absolute;
  top: 50%;
}*/