// sass --watch style/input.scss:style/style.css

// VARIABLE
$font: 1.6rem Helvetica, Arial, sans-serif;
$main-background-color: rgb(5, 25, 60);
$main-color: rgb(250, 250, 250);
$main-color-hover: rgb(190, 190, 190);

//RESET
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

// EXTEND
%row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

%column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// COMMON
html {
  font-size: 62.5%; // 16px * 62.5% = 10px = 1rem
}

body {
  height: 100vh;
  width: 100vw;
  font: $font;
  color: $main-color;
  background-color: $main-background-color;
}

header {
  @extend %row;
  justify-content: space-between;
  padding: 1rem;

  .logo {
    @extend %row;
    font: $font;
    word-wrap: break-word;
    margin: 1rem;
  }
  .searchForm {
    @extend %row;
    flex-wrap: nowrap;
    margin: auto;
  }
  input[type=text] {
    max-width: 25rem;
    width: 100%;
    font: $font;
    color: $main-color;
    background-color: $main-background-color;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  .searchButton {
    width: 2.5rem;
    height: 2.5rem;
    color: $main-color;
    background-color: $main-background-color;
    border: none;
  }
  .searchButton:hover {
    color: $main-color-hover;
  }
  .curentLocationButton {
    text-align: center;
    max-width: 13rem;
    width: 100%;
    height: 2.5rem;
    margin: 1rem;
    font-size: 1.5rem;
  }
}

main {
  @extend %row;
  .currentData {
    max-width: 30rem;
    width: 100%;
    background-color: $main-color;
    color: $main-background-color;
    margin: 1rem;
    padding: .5rem;
    border-radius: .2rem;
  }
}

.containerTimeDate {
  @extend %row;
  justify-content: space-between;
  .time {
    @extend %row;
  }
  .date {
    @extend %row;
  }
}